._splash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: var(--bs-secondary-color);
}

._fade-in {
  opacity: 1;
  transition: opacity 1s;
}

._fade-out {
  opacity: 0;
  transition: opacity 1s;
}

